<div class="container">
  <div class="row">
    <div class="col-6">
      <input type="text" name="guestName" id="guest-name" class="form-control" #name (keydown.enter)="onAddGuest(name)">
    </div>
    <div class="col-6">
      <button class="btn btn-primary" type="submit" (click)="onAddGuest(name)">Add Guest</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <ul class="list-group" >
        <div *ngFor="let guest of guests | async; let i = index">
          <li class="list-group-item">
            {{ i+1 }}. {{ guest.name | titlecase }} 
            <button type="button" 
              class="btn btn-sm btn-outline-success float-right" 
              (click)="onPlusOne(guest)"
              >
              +1
            </button>
          </li>
        </div>
      </ul>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary">Invite</button>
        <div class="btn-group" data-toggle="buttons"  *ngFor="let guest of guests | async;">
          <button type="button" class="btn btn-primary guest-list-button" (click)="onInvite(guest)">Invite</button>
          <button type="button" class="btn btn-success guest-list-button" (click)="onConfirm(guest)">Confirm</button>
          <button type="button" class="btn btn-danger guest-list-button" (click)="onDelete(guest)">Delete</button>
        </div>
    </div>
  </div>
  
</div>
