<div class="container">
    <h4>Guest List Planner</h4>
    <hr>
    <div class="row">
      <div class="offset-md-2 col-md-6">
          <div class="form-group">
              <label for="filter">Search:</label>
              <input type="text" name="filter" id="filter" class="form-control" aria-describedby="helpId" [(ngModel)]="searchValue" (keyup)="onSearch(searchValue)">
              <small id="helpId" class="text-muted">Type your guest name</small>
            </div>
      </div>
    </div>
  <div class="row">
    <div class="offset-md-2 col-md-6 mb-5 mt-2">
      <input type="text" name="guestName" id="guest-name" class="form-control" placeholder="Guest's Name..." #name (keydown.enter)="onAddGuest(name)">
    </div>
    <div class="col-md-3 mt-2 mb-5">
      <button class="btn btn-primary" type="submit" (click)="onAddGuest(name)">Add Guest</button>
    </div>
  </div>
  <div class="row d-flex ">
    <div class="offset-md-2 col-md-6 justify-content-center">
      <div *ngFor="let guest of guests | async; let i = index">
        <div class="row mb-2">
          <div class="col-md-6 guest">
            {{ i+1 }}. {{ guest.name | titlecase }}
            <button type="button" 
              class="btn btn-sm btn-outline-success float-right" 
              (click)="onPlusOne(guest)" 
              *ngIf="!guest.name.endsWith('plus one')"
              [disabled]="guest.plusOne.name !== ''"
              >
              +1
            </button>
          </div>
          <div class="col-md-6">
            <div class="btn-group" data-toggle="buttons">
              <button type="button" class="btn btn-primary guest-list-button ml-3 mr-1" (click)="onInvite(guest)" [disabled]='guest.isInvited'>{{ guest.isInvited ? 'Invited' : 'Invite' }}</button>
              <button type="button" class="btn btn-success guest-list-button mr-1" (click)="onConfirm(guest)" [disabled]='guest.confirmed'>{{ guest.confirmed ? 'Confirmed' : 'Confirm' }}</button>
              <button type="button" class="btn btn-danger guest-list-button" (click)="onDelete(guest)">Remove</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 guest" id="plus-one" *ngIf="guest.plusOne.name !== ''">
          {{ guest.plusOne.name }}
        <button type="button" class="btn btn-outline-danger btn-sm float-right" (click)="onRemovePlusOne(guest)">Remove</button>
        </div>
      </div>
      <div class="col-md-8">
        <h5>Total guests: {{ guestsNumber }}</h5>
      </div>
    </div>
  </div>
</div>