.guest{
    border: 1px solid rgb(150, 202, 202);
    border-radius: 5px;
    padding-top: 3px;
}

#plus-one{
    border: 1px solid rgb(150, 202, 202);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

h4 {
    padding: 5% 0;
}