<div class="container">
  <div class="card-columns panel-cards">
    <a href="">
      <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Budget Planner</h4>
          <p class="card-text">Plan Your Budget</p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Guest List</h4>
          <p class="card-text">Create Your Guest List</p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Vendors</h4>
          <p class="card-text">Choose Your Vendors</p>
        </div>
      </div>
    </a>
  </div>
</div>